.navSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1976d2;
  height: 6.8em;
  padding: 0.2em 3em;
}
.navSearch__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navSearch__search {
  display: flex;
  align-items: center;
  width: 21.9em;
  gap: 0.5em;
}

@media screen and (max-width: 768px) {
  .navSearch {
    justify-content: space-between;
    padding: 1em 2em;
    height: 11.9em;
  }
  .navSearch__search {
    width: 100%;
    margin-bottom: 3em;
  }
}
