.navSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1976d2;
  height: 6.8em;
  padding: 2em 3em 0.2em 3em;
}
.navSearch__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navSearch__search {
  display: flex;
  align-items: center;
  width: 21.9em;
  gap: 0.5em;
}

.list {
  padding: 5em 0em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 3.4em;
}

.list__container {
  width: 320px;
  height: 190px;
  position: relative;
}

.list__container__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.favoriteIcon {
  position: absolute;
  color: white;
  right: 12px;
  top: 14px;
  cursor: pointer;
  transition: color 0.3s;
}

.favoriteIconColorRed {
  position: absolute;
  color: red;
  right: 12px;
  top: 14px;
  cursor: pointer;
  transition: color 0.3s;
}

.favoriteIcon:hover {
  color: red;
}


@media screen and (max-width: 768px) {
  .navSearch {
    justify-content: space-between;
    padding: 1em 2em;
    height: 11.9em;
  }
  .navSearch__search {
    width: 100%;
    margin-bottom: 3em;
  }
}
