.navSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1976d2;
  height: 6.8em;
  width: 100%;
  padding: 0em 3em;
}
.navSearch__container {
  width: auto;
}
.navSearch__search {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  height: 100%;
  gap: 0.5em;
}
.navSearch__favorite {
  display: flex;
  justify-content: end;
  align-items: center;
  width: auto;
  height: 100%;
}

.container_favorite {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_favorites {
  margin-top: -0.2em;
  font-size: x-small;
}

.list {
  padding: 5em 0em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 3.4em;
}

.list__container {
  width: 320px;
  height: 190px;
  position: relative;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.24);
}

.list__container__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.favoriteIcon {
  position: absolute;
  color: white;
  right: 12px;
  top: 14px;
  cursor: pointer;
  transition: color 0.3s;
}

.favoriteIconColorRed {
  position: absolute;
  color: red;
  right: 12px;
  top: 14px;
  cursor: pointer;
  transition: color 0.3s;
}

.favoriteIcon:hover {
  color: red;
}

@media screen and (max-width: 600px) {
  .navSearch {
    justify-content: space-between;
    padding: 1em 2em;
    height: 11.9em;
  }
  .navSearch__search {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
  }
}
