:root {
  font-family: 'Roboto', Courier, sans-serif, monospace;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

a {
  color: white;
  text-decoration:none;
}

nav {
  box-sizing: border-box;
}